<div id="FormularioBeneficiario" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Beneficiarios</h4>
            </div>
            <div class="modal-body">
                <!--Formulario de envio de Beneficiarios-->
                    <form id="FormCadastroBeneficiario" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="CPF">CPF:</label>
                                    <input required="required" type="text" class="form-control cpf" id="BeneficiarioCPF" name="CPF" placeholder="Ex.: 000.000.000-00" maxlength="14">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Nome">Nome:</label>
                                    <input required="required" type="text" class="form-control" id="BeneficiarioNome" name="Nome" placeholder="Ex.: João" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button data-acao="Incluir" type="submit" id="btn-incluir" class="btn btn-success form-control">Incluir</button>
                                </div>
                            </div>
                        </div>
                    </form>

                        <!--Listagem dos Beneficiarios-->
                            <table id="TabelaBeneficiario" class="table">
                                <thead>
                                    <tr>
                                        <th>CPF</th>
                                        <th>Nome</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        <!--Listagem dos Beneficiarios-->

                <!--Formulario de envio de Beneficiarios-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->

